# Programming for Data Analysis Assignment 1 Notebook

Author - Sean Humphreys

---

## Contents

1. [Introduction](#introduction)
2. [Definitions](#definitions)
3. [Dataset Exploration](#dataset-exploration)
4. [Dataset Variables](#dataset-variables)
4. [References](#references)
5. [Associated Reading](#associated-reading)

---

## Introduction <a id="introduction"></a>

The dataset explored and synthesised in this notebook is from a weather sensor in the author's back garden. The data extract is in the form of a csv. The source data csv can be accessed [here](datasets/back_garden_sensor_data_12_months.csv). The extract contains local weather data captured over a 12 month period.

---

## Definitions <a id="definitions"></a>

- [Pandas](https://pandas.pydata.org/) (https://pandas.pydata.org/ - last accessed 03 Nov. 2023) is an open source software library used in data analytics that allows data analysis and manipulation. Pandas is built on top of the *Python* programming language. A Pandas DataFrame is a dictionary like container for Series objects. A DataFrame is the primary Pandas data structure.

---

## Dataset Exploration <a id="dataset-exploration"></a>

Import the Pandas software library. Pandas can be used to make datasets clean and process datasets.

In [1]:
# import the required python libraries
import pandas as pd

Read in the source data CSV file.

In [2]:
# use pandas to read in the dataset
garden_weather = pd.read_csv('datasets/back_garden_sensor_data_12_months.csv')

Visually inspect the top and bottom of the dataframe to ascertain if there is any obvious data quality issues. This is done using the Pandas `head()` and `tail()` methods. The frist and last 5 rows of data are checked.

In [3]:
# https://www.analyticsvidhya.com/blog/2023/07/head-and-tail-functions/ - [Accessed 7 Nov. 2023]
garden_weather.head()

,Date Time,Wind Speed m/s,Gust m/s,Humidity %,Chill Celsius,Chill Minimum Celsius,Temperature Average Celsius,Temperature Range (low) Celsius,Temperature Range (high) Celsius,Air Pressure hPa
0,09/11/2022 00:00,3.3,6.7,84.0,12.9,11.8,12.74,12.4,13.0,1000.3
1,10/11/2022 00:00,3.2,11.5,81.0,16.9,12.1,14.59,12.3,16.9,1007.1
2,11/11/2022 00:00,3.1,12.5,82.0,16.9,14.4,15.40,14.4,16.9,1013.6
3,12/11/2022 00:00,0.6,2.3,87.0,13.6,12.6,13.27,12.6,13.6,1018.9
4,13/11/2022 00:00,0.8,5.5,87.0,14.8,12.3,13.95,12.3,14.8,1011.0

In [4]:
# https://www.analyticsvidhya.com/blog/2023/07/head-and-tail-functions/ - [Accessed 7 Nov. 2023]
garden_weather.head()

,Date Time,Wind Speed m/s,Gust m/s,Humidity %,Chill Celsius,Chill Minimum Celsius,Temperature Average Celsius,Temperature Range (low) Celsius,Temperature Range (high) Celsius,Air Pressure hPa
0,09/11/2022 00:00,3.3,6.7,84.0,12.9,11.8,12.74,12.4,13.0,1000.3
1,10/11/2022 00:00,3.2,11.5,81.0,16.9,12.1,14.59,12.3,16.9,1007.1
2,11/11/2022 00:00,3.1,12.5,82.0,16.9,14.4,15.40,14.4,16.9,1013.6
3,12/11/2022 00:00,0.6,2.3,87.0,13.6,12.6,13.27,12.6,13.6,1018.9
4,13/11/2022 00:00,0.8,5.5,87.0,14.8,12.3,13.95,12.3,14.8,1011.0

Using Pandas the column names can be renamed to make them python friendly.

In [13]:
# python friendly columns list
column_rename = ['date_time', 'wind_speed_m_s', 'gust_m_s', 'humidity_%', 'chill_celsius', 'chill_minimum_celsius', 
                 'temperature_average_celsius', 'temperature_range_low_celsius', 'temperature_range_high_celsius', 'outside_air_pres_hPa']

# rename columns - https://www.geeksforgeeks.org/how-to-rename-columns-in-pandas-dataframe/ [Accessed 7 Nov. 2023].
garden_weather.columns = column_rename

The Pandas `info()` method is used

In [6]:
# Code from https://www.w3schools.com/python/pandas/ref_df_info.asp [Accessed 7 Nov. 2023].
garden_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 10 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   date_time                       360 non-null    object
 1   wind_speed_m_s                  359 non-null    float64
 2   gust_m_s                        359 non-null    float64
 3   humidity_%                      359 non-null    float64
 4   chill_celsius                   359 non-null    float64
 5   chill_minimum_celsius           359 non-null    float64
 6   temperature_average_celsius     359 non-null    float64
 7   temperature_range_low_celsius   359 non-null    float64
 8   temperature_range_high_celsius  359 non-null    float64
 9   outside_air_pres_hPa            359 non-null    float64
dtypes: float64(9), object(1)
memory usage: 28.3+ KB

Inspect the dataset for null values

In [10]:
garden_weather.isnull().sum()

date_time                         0
wind_speed_m_s                    1
gust_m_s                          1
humidity_%                        1
chill_celsius                     1
chill_minimum_celsius             1
temperature_average_celsius       1
temperature_range_low_celsius     1
temperature_range_high_celsius    1
outside_air_pres_hPa              1
dtype: int64

No null values are demonstrated.

Inspect the dataset for any duplicate entries.

In [11]:
duplicate_rows = garden_weather[garden_weather.duplicated()]

duplicate_rows

Empty DataFrame
Columns: [date_time, wind_speed_m_s, gust_m_s, humidity_%, chill_celsius, chill_minimum_celsius, temperature_average_celsius, temperature_range_low_celsius, temperature_range_high_celsius, outside_air_pres_hPa]
Index: []

No duplicate rows are demonstrated.

In [12]:
garden_weather.describe()

,wind_speed_m_s,gust_m_s,humidity_%,chill_celsius,chill_minimum_celsius,temperature_average_celsius,temperature_range_low_celsius,temperature_range_high_celsius,outside_air_pres_hPa
count,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000,359.000000
mean,1.698329,5.204735,81.166020,17.349025,7.145404,11.561806,7.419220,17.405850,1011.865738
std,1.105596,2.961325,5.671424,6.558507,4.898555,5.100804,4.684545,6.486319,13.269578
min,0.000000,0.000000,60.000000,3.400000,-5.800000,-1.750000,-5.800000,3.400000,973.100000
25%,0.800000,3.000000,78.000000,11.800000,3.650000,7.720000,4.100000,11.900000,1004.000000
50%,1.500000,4.600000,81.000000,17.400000,7.600000,11.650000,7.700000,17.400000,1013.200000
75%,2.300000,6.700000,85.000000,23.050000,11.200000,15.460000,11.200000,23.050000,1020.500000
max,5.500000,15.600000,94.000000,32.800000,17.800000,22.510000,17.800000,32.800000,1045.200000

## Dataset Variables <a id="dataset-variables"></a>

## References <a id="references"></a>

GeeksforGeeks. (2018). How to rename columns in Pandas DataFrame. [online] Available at: https://www.geeksforgeeks.org/how-to-rename-columns-in-pandas-dataframe/. [Accessed 7 Nov. 2023].

H, S. (2023). head () and tail () Functions Explained with Examples and Codes. [online] Analytics Vidhya. Available at: https://www.analyticsvidhya.com/blog/2023/07/head-and-tail-functions/. [Accessed 7 Nov. 2023].

www.w3schools.com. (n.d.). Pandas DataFrame info() Method. [online] Available at: https://www.w3schools.com/python/pandas/ref_df_info.asp. [Accessed 7 Nov. 2023].

---

## Associated Reading <a id="associated-reading"></a>



Pandas (2018). Python Data Analysis Library — pandas: Python Data Analysis Library. [online] Pydata.org. Available at: https://pandas.pydata.org/. [Accessed 03 Nov. 2023].

pandas.pydata.org. (n.d.). API reference — pandas 1.1.4 documentation. [online] Available at: https://pandas.pydata.org/docs/reference/index.html. [Accessed 03 Nov. 2023].

Tamboli, N. (2021). Tackling Missing Value in Dataset. [online] Analytics Vidhya. Available at: https://www.analyticsvidhya.com/blog/2021/10/handling-missing-value/. [Accessed 18 Oct. 2023].

Zach (2021). How to Find Duplicates in Pandas DataFrame (With Examples). [online] Statology. Available at: https://www.statology.org/pandas-find-duplicates/. [Accessed 3 Nov. 2023].

---

*Notebook Ends*